.login_form-layout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.smart_link {
	text-decoration: none;
}

.google_search-dropdown-wrapper {
	position: relative;
	width: 100%;
}

.google_search-dropdown {
	max-height: 300px;
	overflow-y: auto;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.google_search-dropdown-item {
	cursor: pointer;
}
.google_search-dropdown-item:hover {
	background-color: rgba(250, 250, 250, 1.0);
}

.preloader-layer {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	display: none;
}
.preloader {
	margin: auto;
}

.remaing_rewiews {
	position: fixed;
	bottom:0;
	left: 0;
	height: auto;
	width: 100vw;
}